<div  ng-controller="listCtrl as list" ng-init="list.getAllDataDb()">


    
    <div class="container">
      <h2>List of actions</h2>
      <br/>
    <form>
      <div class="form-group">
        <label for="record">Record:</label>
        <input type="text" class="form-control" id="record" ng-model="list.recordInput">
        <button type="button" class="btn btn-default" ng-click="list.addRecord()">Add record</button>
      </div>
    </form>
    
    <br/>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Record item</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>
            <button type="button" class="btn btn-default" ng-click="list.removeRecord()">Remove</button>
          </td>
          
        </tr>
      </tbody>
    </table>
    
    
    
    
    <p ng-init="list.responseAction=''">
      response post {{ list.responseAction }}
    </p>
  </div>
</div>