//output: layout.html
doctype
html(lang='en')
head  
  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(href='/css/bootstrap.css', rel='stylesheet')
  link(href='/vendor/toastr/toastr.css', rel='stylesheet')
  link(href='/css/site.css', rel='stylesheet')
title ok jade
body(ng-app='app')
block main-content
include scripts
    